<html>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://sdk.clarifai.com/js/clarifai-latest.js"></script>
    <script type="text/javascript" src="/static/js/retina-sdk-1.0.min.js"></script>
    <script type="text/javascript" src="/static/js/recognize.js"></script>
    <script>
      var response = "Processing...";
      document.write(response);
      response = recognize("{{link}}");
    </script>
  </body>
</html>
